<div class="alternative-payment-container">
  <ul>
    <li>
      <a href="" class="amazon-button">
        <img class="amazon-pay" src="//cdn.shopify.com/s/assets/checkout/easy-checkout-btn-amazon-pay-72091bddbea7788c02d934d95d97fe6a0da7618cadc5838c40f44f190fa24442.png"
          alt="">
      </a>
    </li>
  </ul>
</div>

<div class="separator">
  <span class="separator-content">OR</span>
</div>

<div>
  <form>
    <div class="form-group">
      <h3>Contact Information</h3>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Subscribe to our newsletter</label>
    </div>
    <div class="form-row">
      <h3>Shipping address</h3>
      <div class="form-group col-md-6">
        <input type="text" class="form-control" id="inputFirstname" placeholder="First Name">
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control" id="inputLastname" placeholder="Last Name">
      </div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="inputAddress" placeholder="Company (optional)">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="inputAddress2" placeholder="Address">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, suite, etc. (optional)">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="inputAddress2" placeholder="City">
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
        <label for="country">Country</label>
        <select id="country" class="form-control">
          <option selected>United States</option>
          <option>Canada</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-danger">Continue to shipping method</button>
  </form>

</div>
