<div class="col-xs-8 main">
  <a href="#"><img src="assets/boosted-logo.png" alt="Boosted Logo"></a>
  
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Customer information</li>
      <li class="breadcrumb-item">Shipping method</li>        
      <li class="breadcrumb-item">Payment method</li>
    </ol>
  </nav>

  <div>
    <a href=""><img class="amazonPay" src="//cdn.shopify.com/s/assets/checkout/easy-checkout-btn-amazon-pay-72091bddbea7788c02d934d95d97fe6a0da7618cadc5838c40f44f190fa24442.png" alt=""></a>
  </div>

  <div class="alternative-payment-separator">
    <span class="alternative-payment-separator__content">OR</span>
  </div>

   <div>
      <form>
          <div class="form-group">
            <label for="email">Contact Information</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Subscribe to our newsletter</label>
          </div>
          <div class="form-group">
            <label for="shippingAddress">Shipping Address</label>
            <input type="text" class="form-control" id="firstname" placeholder="First Name">
            <input type="text" class="form-control" id="lastname" placeholder="Last Name">
            <input type="text" class="form-control" id="company" placeholder="Company (optional)">
            <input type="text" class="form-control" id="address" placeholder="Address">
            <input type="text" class="form-control" id="apartment" placeholder="Apartment, suite, etc. (optional)">
            <input type="text" class="form-control" id="city" placeholder="City">
            <input type="text" class="form-control" id="country" placeholder="Country">
            <input type="text" class="form-control" id="state" placeholder="State">
            <input type="text" class="form-control" id="zipCode" placeholder="Zip Code">
            <input type="tel" class="form-control" id="phone" placeholder="Phone (required)">

          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1"> Save this information for next time</label>
          </div>
          <button type="submit" class="btn btn-danger">Continue to shipping method</button>
        </form>

        <div>
          <ul class="breadcrumb">
            <li>Refund policy</li>
            <li>Privacy policy</li>
            <li>Terms of service</li>
          </ul>
        </div>
   </div>
</div>