.shippingAddressBox {
    /* display: inline; */
    border: 1px solid #dadada;
    border-radius: 4px;
    background-color: #fafafa;
    font-size: 0.9em;
    padding: 10px;
    /* margin: 30px; */
}

.shippingAddress {
    color: #919191;
}

.shippingMethod {
    color: #919191;
    padding-top: 10px;
}

.shippingMethodRow {
    padding-top: 10px;
    padding-bottom: 5px;
}

.paymentMethodBox {
    padding: 0;
}

.paymentMethodLabel {
    margin-bottom: 0;
    margin-top: 50px;
}

.paymentType {
    border: 1px solid #dadada;
    border-radius: 4px;
    padding: 10px 15px;
}

/* stripe styles */
.StripeElement {
    margin: 1rem 0 1rem;
    background-color: white;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }