.shippingAddressBox {
  border: 1px solid #dadada;
  border-radius: 4px;
  background-color: #fafafa;
  font-size: 0.9em;
  padding: 10px;
}

.shippingAddress {
  color: #919191;
}

.shippingMethod {
  color: #919191;
  padding-top: 10px;
}

.shippingMethodRow {
  padding-top: 10px;
  padding-bottom: 5px;
}

.paymentMethodBox {
  padding: 0;
}

.paymentMethodLabel {
  margin-bottom: 0;
  margin-top: 50px;
}

.paymentType {
  border: 1px solid #dadada;
  border-radius: 4px;
  padding: 10px 15px;
}

.cc {
  padding: 13px 15px;
  margin-top: 20px;
}

.paypal {
  padding-bottom: 9px;
}

.amazon {
  padding-top: 15px;
  padding-bottom: 9px;
}

.affirm {
  padding: 0;
  padding-left: 15px;
}

.checkout {
  background-color: #fafafa;
  padding: 15px;
  border: 1px solid #dadada;
}

.completeOrder {
  margin-top: 20px;
}

/* stripe styles */

.StripeElement, #card-holder {
  margin: 1rem 0 1rem;
  background-color: white;
  padding: 15px 12px;
  border-radius: 4px;
  border: 1px solid #dadada;
  /* box-shadow: 0 1px 3px 0 #e6ebf1; */
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus, #cardHolderDiv:active {
  border-color: #9ad2db;
  box-shadow: 0 0 5px #9ad2db;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#card-cvc {
  display: inline-block;
  width: 130px;
  margin-right: 15px;
}

#card-expiry {
  display: inline-block;
  width: 130px;
}

#card-holder{
  display:inline-block;
  margin-right: 15px;
  margin-left: 15px;
}

#sameAdd {
  margin-top: 20px;
}

.navigation {
  padding: 30px 0;
  margin-bottom: 100px;
}

.return{
  padding: 1.4em 0;
  font-size: 0.9em;
}

ul {
  list-style-type: none;
  padding: 0;
}

.alternative-payment-container {
  padding-top: 1em;
  padding-left: 0;
}

.amazon-button {
  display: block;
  width: 11em;
  height: 3em;
  border-radius: 4px;
  background-color: #fad676;
  text-align: center;
}

.amazon-pay {
  height: 3.4em;
  width: auto;
  padding: 1.1em 0em 1em 0em;
}

.form-control {
  padding: 1.5em 1em;
  margin-bottom: 0.7em;
}

.form-check-label {
  font-weight: 100;
  font-size: 0.9em;
  padding-left: 1em;
}

select {
  background-color: transparent;
  height: 3.15em;
  width: 10.6em;
}

select.form-control {
  text-indent: 4px;
  width: 100%;
}

.select-label {
  position: absolute;
  font-size: 12px;
  font-weight: 300;
  padding: 0 50px 0px 14px;
}

.before-footer {
  padding-bottom: 7em;
}

.billingAddressForm {
  border: 1px solid #dadada;
  background-color: #fafafa;
}

@media (max-width: 992px) {
  select.form-control {
      padding: 5px 0 0 8px;
      text-indent: 0;
      width: 100%;
  }
  .amazon-button {
      width: 100%;
      height: 4em;
      vertical-align: middle;
  }
  .amazon-pay {
      padding: 1.5em 0em 0.5em 0em;
  }
  #card-cvc, #card-expiry {
      width: 90%;
      margin-left: 15px;
  }
  #card-holder {
    width: 90%;
  }
}
