.sidebar {
    display: block;
    padding: 4em 0 30em 35px;
    border-left: 1px solid #dadada;
    background: #f2f2f2;
    left:0;
}

.product-list {
    display: block;
    list-style-type: none;
    padding: 0;
    max-width: 500px;
}

.product {
    display: inline-block;
}

.product > img {
    border: 1px solid #dadada;
    border-radius: 8px;
    width: 4.6em;
    height: 4.6em;
    z-index: 0;
}

.product > img.col-md-3 {
    margin: 0;
    padding: 0;
}

.product-details {
    display: inline-block;
    height: 4.6em;
    vertical-align: middle;
}

h4 {
    font-size: 1.1em;
    font-weight: 500;
    color: #494949;
    margin-bottom: 0;
}

.product-details > p {
    font-size: 0.9em;
    font-weight: 200;
    color: #919191;
}

.product-price {
    display: inline-block;
    line-height: 4.6em;
    vertical-align: middle;
    font-size: 1.1em;
    font-weight: 500;
    color: #494949;
    text-align: right;
}

.product > .badge {
    margin-left: -12px;
    margin-top: -8px;
    z-index: 1;
    position: absolute;
    background: rgba(153,153,153,0.9);
}

.separator {
    max-width: 450px;
    padding: 0 30px 15px 0;
}

.separator::before {
    background: #dadada;
}

.separator::after {
    background: #dadada;
}

.notes {
    background: white;
    color: #494949;
    margin: 25px 35px 20px 0;
    padding: 15px;
    border-radius: 4px;
    max-width: 450px;
    min-width: 300px;
    display: block;
}

.notes > h4 {
    margin-bottom: 1em;
}

.note-list {
    padding: 15px;
}

.gift-card {
    width:1005;
}

.price-breakdown {
    max-width: 450px;
    padding: 0;
}

.price-breakdown.separator {
    padding: 0;
}

.pull-right {
    color: #494949;
    padding-right: 30px;
}

.total-wrapper {
    max-width: 450px;
}

.total-label {
    color: #494949;
}

.total-price {
    display: inline;
    font-size: 1.7em;
    font-weight: 600;
}

.currency {
    color: #919191;
    font-size: 12px;
    font-weight: 300;
}

.note-wrap {
    padding: 0 35px 0 0;
    max-width: 450px;;
}

.gift-card {
    padding: 0;
}

@media (max-width: 992px) {
    .sidebar {
        padding: 1em 0 2em 1.2em;
        margin: 0 auto;
    }
    .total-wrapper{
        padding-right: 1.2em;
    }
    .separator {
        padding-right: 1.2em;
    }
    .product-price {
        font-size: 0.9em;
        font-weight: 500;
        padding-right: 0;
    }
    .notes {
        min-width:80%;    
        margin-top: 5px;
    }
    .note-wrap {
        padding-right: 15px;
    }
    .pull-right {
        padding-right: 0;
    }
    .price-breakdown {
        padding-right: 15px;
    }
    .price-breakdown > .separator {
        padding-right: 0;
    }
}