.sidebar {
    display: block;
    padding-top: 4em;
    padding-left: 4em;
    color: #6d6d6d;
}

.main {
    padding-top: 4em;
    padding-right: 66px;
}

.sidebar::after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    bottom: 0;
    background: #f2f2f2;
    z-index: -1;
}