<a href="#"><img class="logo" src="assets/boosted-logo.png" alt="Boosted Logo"></a>
  
<nav aria-label="breadcrumb">
  <ul class="breadcrumb" >
    <li class="breadcrumb-item disabled" routerLink="/customer-information" routerLinkActive="active">Customer information</li>
    <li class="breadcrumb-item disabled" routerLink="/shipping-method" routerLinkActive="active">Shipping method</li>        
    <li class="breadcrumb-item disabled" routerLink="/payment-method" routerLinkActive="active">Payment method</li>
  </ul>
</nav>