<div class="shippingAddressBox col-md-12">
  <div class="col-sm-4">
    Shipping address:
  </div>
  <div class="col-sm-8 shippingAddress">
    <span *ngIf="customer.apartment != ''">
      {{customer.apartment}},
    </span>
    {{customer.address}}, {{customer.city}} {{customer.state}} {{customer.zipcode}}, {{customer.country}}
    <a class="edit pull-right" (click)="goBack()">Edit</a>
  </div>
</div>

<form (ngSubmit)=updateShipping()>
  <div class="shippingMethodBox col-xs-12 col-md-12">
    <h3>Shipping Method</h3>

    <div class="shippingMethod col-xs-12 col-md-12">
      <div class="form-check col-xs-9 col-md-9">
        <!-- to use *ngFor if there are more payment methods -->
        <input class="form-check-input" type="radio" name="paymentMethod" id="paymentMethod1" value="Free Ground Shipping - Free" [(ngModel)]="customer.shippingMethod">
        <label class="form-check-label" for="paymentMethod1">
          Free Ground Shipping
        </label>
      </div>
      <div class="col-xs-3 col-md-3 text-right">Free</div>
    </div>
  </div>

  <div class="navigation">
    <a class="col-md-6 return" (click)="goBack()">
      <span class="fa fa-angle-left"></span> Return to customer information</a>
    <button type="submit" class="col-md-6 btn">Continue to payment method</button>
  </div>
</form>

<div class="before-footer"></div>
