<div class="shippingAddressBox col-md-12">
  <div class="col-sm-4">
    Shipping address:
  </div>
  <div class="col-sm-7 shippingAddress">
    <span *ngIf="customer.apartment != ''">
      {{customer.apartment}},
    </span>
    {{customer.address}}, {{customer.city}} {{customer.state}} {{customer.zipcode}}, {{customer.country}}
  </div>
</div>

<div class="shippingMethodBox col-md-12">
  <h3>Shipping Method</h3>
  <div class="shippingMethod">
    <div class="form-check col-9">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
      <label class="form-check-label" for="exampleRadios1">
        Free Ground Shipping
      </label>
    </div>
    <div class="col-3">Free</div>
  </div>
</div>
